
@{
    ViewBag.Title = "deleteItems";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<form method="post" class="w3-container" action="@Url.Action("deleteItems")">

    <h1>Select Id To Buy The Item</h1>

    <div>
        <input class="w3-input" name="id" type="text">
    </div>

    <div>
        <button class="w3-bar-item w3-button w3-black">Buy</button>


    </div>





</form>